.column {
  display: flex;
  margin-left: 60%;
  padding-top: 8%;
}

.column2 {
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.totalTasks {
  text-align: center;
}

.dropdown {
  padding-left: 20%;
}
